* {
  font-family: var(--font-family);
}

html {
  // font-size: var(--font-size-body);
  font-weight: normal;
  // font-weight: var(--font-weight-medium);
}

body {
  color: var(--font-color);
  background: var(--bg);
  font-size: var(--font-size);
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

p {
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  // margin-top: 70px;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
}

.social-left {
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: 40px;
  left: auto;
  z-index: 10;
  .social-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
      a {
        padding: 10px;
        display: block;
      }
    }
    &::after {
      content: "";
      display: block;
      // width: 1px;
      height: 90px;
      margin: 0 px auto;
      background-color: var(--font-color);
    }
  }
}

#me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.me-title {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 100px;
}

.me-subtitle {
  font-size: 40px;
  font-weight: 700;
}

.img-logo{
  margin: 50px;
  max-width: 400px;
  max-height: 400px;
}

.portfolio-list {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
}

.portfolio-item {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  max-width: 900px;
  width: 100%;
  margin: 20px 0;
  .description {
    grid-column: 5 / -1;
    grid-area: 1 / 1 / -1 / 7;
    z-index: 1;
    background: #373636;
    box-shadow: 0 10px 30px -4px rgba(2, 12, 27, 0.7);
    border-radius: 4px;
    padding: 15px;
  }
}

.image-box {
  grid-column: 1 / 8;
  grid-area: 1 / 6 / -1 / -1;
  max-width: 560px;
  max-height: 280px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  margin: 15px;
  mix-blend-mode: screen;
  background: #373636c7;
  &:hover {
    background: transparent;
  }
  &-horizon {
    position: relative;
    grid-column: 1 / 8;
    grid-area: 1 / 6 / -1 / -1;
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    margin: 15px;
    img {
      transition: 0.2s;
    }
    &:hover {
      img {
        // transform: scale(1.1);
      }
    }
  }
  img {
    transition: 0.5s;
    width: auto !important;
    height: 280px !important;
    min-width: unset !important;
    max-width: unset !important;
    min-height: unset !important;
    max-height: unset !important;
    mix-blend-mode: multiply;
    // filter: grayscale(100%) contrast(1) brightness(90%);
    border-radius: 8px;
    top: 100% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
  &:hover {
    img {
      // transform: scale(1.1);
      background: transparent;
      filter: none;
    }
  }
}

#contact{
  margin-bottom: 50px;
}

@media screen and (max-width: 900px) {
  .portfolio-item{
    .description{
      
    }
  }

  .image-box{
    grid-area: 1 / 4 / -1 / -1;
  }
}

@media only screen and (max-width: 600px) {
  main {
    padding: 0 30px;
  }

  .social-left {
    width: 100%;
    position: relative;
    bottom: auto;
    right: auto;
    left: auto;
    z-index: auto;
    .social-list {
      flex-direction: row;
      justify-content: center;
    }
  }

  .portfolio-item{
    grid-template-columns: repeat(11, 1fr);
    .description{
      grid-area: 1 / 1 / -2 / 12;
      background: transparent;
      box-shadow: none;
      
    }
    &:hover{
      .description{
        display: none;
      }
    }
  }

  .image-box{
    grid-area: 1 / 1 / -2 / 12;
    margin: 0;
  }
}

